<!DOCTYPE html>

<html lang="en">

<head> <!--- Start of Head Section -->

	<meta charset="utf-8"> <!--- Setting character set -->

	<meta name="viewport" content="width=device-width, initial-scale=1"> <!--- Allowing for media queries in CSS -->

	<meta name = "description" content= "CHP Provides French Polishing and Surface Repair Technologies on The Move"> <!--- Providing a description of the Webpage -->

	<meta name = "keywords" content="COMPBET, betting, money, signup, account, withdraw, deposit, leaderboard, roulette, blackjack, poker, provably fair, "> <!--- Keywords that will improve SEO -->

	<meta name = "author" content="Charles Palmer"> <!--- The author of the website -->

	<title>COMPBET - Blackjack</title> <!--- Webpage Title -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
	<link href= "/public/assets/main.css" rel="stylesheet" type="text/css"/>

</head> <!--- End of Head Section  -->

<body> <!--- Start of Body Section -->

<!-- Navigation -->

<nav class="navbar-expand-md navbar-light bg-light sticky-top"> <!--- Setting up Navbar attributes -->
	
	<div class="container-fluid">
		
		<a class="navbar-brand" href="/users/index"> <img src="/public/img/logo.png" alt="Dice Logo"> </a> <!--- Inserts Dice logo onto Navbar -->

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> <!--- Creates a togglable icon for Navbar dropdown -->
			
				<span class="navbar-toggler-icon"> 
					

				</span>

		</button> <!--- End of togglable icon button -->

		<div class="collapse navbar-collapse" id="navbarResponsive">
			
			<ul class="navbar-nav ml-auto"> <!--- Creating Navbar Items -->
				
				<li class="nav-item active">
					<a class="nav-link" href="/users/index"> Home </a> <!--- Creating Home Navbar item -->
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/users/about"> About </a> <!--- Creating About Navbar item -->
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/users/services"> Services </a> <!--- Creating Services Navbar item -->
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/users/games"> Games </a> <!--- Creating Games item -->
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/users/contact"> Connect </a> <!--- Creating Connect Navbar item -->
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/users/welcome"> Register/Login </a> <!--- Creating Connect Navbar item -->
				</li>

			</ul>

		</div>

	</div>

</nav>

<!--- Two Column Section -->

<div class="container-fluid padding"> <!--- Creating a container to hold the Two Column section of the webstie -->

	<div class="row padding">
		
		<div class="col-md-12 col-lg-6"> <!--- Presetting grid sizes -->

			<h2> Blackjack </h2>

			<p> <br> Blackjack is, like any form of gambling, a game of chance. However, players are able to utalize certain strategies to improve their chance of winning, it is also a game where other players actions can impact the way you play, and your chances at winning. 
			
			<br> <br> It is common practice to tip the dealer when betting, this should be mirrored to your bet, so if you end up betting £5, a £1 tip is acceptable, whereas if you're betting more, you should therefore tip more.

			<br> <br>Most in person casinos will offer comps to their Blackjack players, however this does not happen with online Casinos, instead you will likely be rewarded with on site promotions or credit, this will normally have a wager* ammount before the player can withdraw.
			
			<br> <br>*wager - Where a player has to bet through the ammount a set ammout of times, for example, £10 free bet will normally have a x10 or even x20 wager, meaning that the player has to play that currency through £100-£200 worth of bets before it can be withdrawn.
			</p>

			<br>

			<a href="/users/games" class="btn btn-primary"> Go Back </a> <!--- Creating a button with a imbeded link-->

		</div>

	</div>

</div>

<hr class="my-4"> <!--- Creating a Horizontal Rule -->

<!--- Fixed background -->

<figure>
	
	<div class="fixed-wrap">

		<div id="fixed">

		</div>

	</div>

</figure>

<!--- Connect -->

<div class="container-fluid padding">

		<div class="row text-center padding">

			<div class="col-12"> <!--- Creating a Div spanning 12 columns -->
				
				<h2> Connect </h2> <!--- Creating heading "Connect" -->

			</div>

			<div class="col-12 social padding">
				
				<a href="#"> <i class="fab fa-facebook"> </i> </a> <!--- Importing Facebook Icon -->

				<a href="#"> <i class="fab fa-twitter"> </i> </a> <!--- Importing Twitter Icon -->

				<a href="#"> <i class="fab fa-google-plus-g"> </i> </a> <!--- Importing Google Icon -->

				<a href="#"> <i class="fab fa-instagram"> </i> </a> <!--- Importing Instagram Icon -->

				<a href="#"> <i class="fab fa-youtube"> </i> </a> <!--- Importing Youtube Icon -->

			</div>

		</div>

</div>

<!--- Footer -->

<footer>
	
	<div class="container-fluid padding">

		<div class="row text-center">

			<div class="col-md-4"> <!--- Creating a Div spanning 4 columns -->
				
				<img src="/public/img/footerlogo.png" alt="Dice Logo"> <!--- Importing Dice Logo -->

				<hr class="light"> <!--- Creating a Horizontal Rule -->

				<p> 01392 215656 </p>

				<p> admin@compbet.co.uk </p>

				<p> PO Box 26 </p>

				<p> Exeter, Devon EX6 8XE </p>

			</div>

			<div class="col-md-4"> <!--- Creating a Div spanning 4 columns -->

				<hr class="light"> <!--- Creating a Horizontal Rule -->

				<h5> Our Live Chat Hours </h5>

				<hr class="light"> <!--- Creating a Horizontal Rule -->

				<p> Monday: 9am - 5pm </p>

				<p> Saturday: 10am - 4pm </p>

				<p> Sunday: Closed </p>

			</div>

			<div class="col-md-4"> <!--- Creating a Div spanning 4 columns -->

				<hr class="light"> <!--- Creating a Horizontal Rule -->

				<h5> Operating Area's </h5>

				<hr class="light"> <!--- Creating a Horizontal Rule -->

				<p> Europe </p>

				<p> Asia </p>

				<p> North America </p>

				<p> South America </p>

			</div>

			<div class="col-12">

				<hr class="light-100">

				<h5> &copy; CPDevelopment 2020-2021 </h5>

			</div>

		</div>

	</div>

</footer>


</body> <!--- End of Body section -->

</html> <!--- End of HTML section -->











